# Java / Spring Boot
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Node / React
**/node_modules/
**/dist/

# Environment files
**/.env
**/.env.*

# IDE files
**/.idea/
**/.vscode/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secret Spring configuration
**/src/main/resources/application.yaml